<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268853776747-inucf22cn48i36qlsi3ge610nltdav75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268853776747-inucf22cn48i36qlsi3ge610nltdav75</string>
	<key>API_KEY</key>
	<string>AIzaSyAxyQJcNQjNAbAnbvzm885Ghj_FML10ZB0</string>
	<key>GCM_SENDER_ID</key>
	<string>268853776747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nativepro</string>
	<key>PROJECT_ID</key>
	<string>nativepro-25135</string>
	<key>STORAGE_BUCKET</key>
	<string>nativepro-25135.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268853776747:ios:2c4f73c340de74b82afc2e</string>
</dict>
</plist>